*
!/zx_keylogger/
!/zx_keylogger/**
!/zx_signal_scope/
!/zx_signal_scope/**
!/zx_ble_spam/
!/zx_ble_spam/**
!/zx_troll_hub/
!/zx_troll_hub/**
!/zx_tv_b_gone/
!/zx_tv_b_gone/**
!/zx_rick_roll/
!/zx_rick_roll/**
!/zx_ghost_typist/
!/zx_ghost_typist/**
!/zx_ir_multi/
!/zx_ir_multi/**
!/zx_mouse_poltergeist/
!/zx_mouse_poltergeist/**
!/zx_random_beep/
!/zx_random_beep/**
